<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a href="./index.html">
            <img
              style="height: 40px"
              src="https://upload.wikimedia.org/wikipedia/commons/e/e5/Orient_Anime_Logo.png"
              alt=""
            />
          </a>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="header__nav">
          <nav class="header__menu mobile-menu">
            <ul>
              <li class="active"><a href="./index.html">Homepage</a></li>
              <li>
                <a href="./categories.html"
                  >Categories <span class="arrow_carrot-down"></span
                ></a>
                <ul class="dropdown">
                  <li><a href="./categories.html">Categories</a></li>
                  <li><a href="./anime-details.html">Anime Details</a></li>
                  <li><a href="./anime-watching.html">Anime Watching</a></li>
                  <li><a href="./blog-details.html">Blog Details</a></li>
                  <li><a href="./signup.html">Sign Up</a></li>
                  <li><a href="./login.html">Login</a></li>
                </ul>
              </li>
              <li><a href="./blog.html">Our Blog</a></li>
              <li><a href="#">Contacts</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="header__right">
          <a href="#" class="search-switch">
            <span class="icon_search"></span>
          </a>

          <a *ngIf="!username; else loggedIn" routerLink="/login">
            <span class="icon_profile">Đăng nhập</span>
          </a>

          <ng-template #loggedIn>
            <div class="user-profile">
              <span class="icon_profile" style="color: yellow">{{
                username
              }}</span>
              <button (click)="navigateToFavorites()">Yêu Thích</button>
              <!-- Liên kết đến trang yêu thích -->

              <button class="logout-button" (click)="logout()">
                Đăng xuất
              </button>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div id="mobile-menu-wrap"></div>
  </div>
</header>
