<app-footer></app-footer>
<app-secssion></app-secssion>
<!-- Product Section Begin -->
<section class="product spad" style="background-color: #0b0c2a">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="trending__product">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
              <div class="section-title">
                <h4 style="color: aliceblue">Trending Now</h4>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="btn__all">
                <a href="#" class="primary-btn"
                  >View All <span class="arrow_right"></span
                ></a>
              </div>
            </div>
          </div>

          <div class="row">
            <div
              *ngFor="let movie of top3Movies"
              class="col-lg-4 col-md-6 col-sm-6"
            >
              <input
                type="text"
                name="movieTitle"
                id="movieTitle"
                [value]="movie.title"
                hidden
              />
              <div class="product__item">
                <div class="product__item__pic">
                  <img
                    [src]="movie.thumbnailUrl"
                    alt="{{ movie.title }}"
                    class="set-bg"
                    (click)="onMovieClick(movie.title)"
                  />
                  <div class="ep">18 / 18</div>
                  <div class="view">
                    <i class="fa fa-eye"></i> {{ movie.viewCount || 0 }}
                  </div>
                </div>
                <div class="product__item__text">
                  <ul>
                    <li>Active</li>
                    <li>Movie</li>
                  </ul>
                  <h5>
                    <a href="#" style="text-decoration: none">{{
                      movie.title
                    }}</a>
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <!-- row -->
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-8">
        <div class="product__sidebar">
          <div class="product__sidebar__view">
            <div class="section-title">
              <h5>Top Views</h5>
            </div>
            <ul class="filter__controls">
              <li class="active" data-filter="*">Day</li>
              <li data-filter=".week">Week</li>
              <li data-filter=".month">Month</li>
              <li data-filter=".years">Years</li>
            </ul>
            <div class="filter__gallery">
              <div class="product__sidebar__view__item mix day years">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBj7BE9IpggNjuO4NJfeZh5Hmx1ia_-LCVqg&s"
                  alt="Boruto: Naruto next generations"
                />
                <div class="ep">18 / ?</div>
                <div class="view"><i class="fa fa-eye"></i> 9141</div>
                <h5><a href="#">Boruto: Naruto next generations</a></h5>
              </div>
            </div>
          </div>
        </div>
        <!-- end -->
      </div>
      <!-- end -->
    </div>
  </div>
</section>
<app-footers></app-footers>
